---
- name: Installing andrewrothstein.go
  ansible.builtin.include_role:
    name: andrewrothstein.go
- name: Installing andrewrothstein.git
  ansible.builtin.include_role:
    name: andrewrothstein.git
- name: Installing andrewrothstein.gcc_toolbox
  ansible.builtin.include_role:
    name: andrewrothstein.gcc_toolbox
- name: Resolve platform specific vars
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_facts["distribution"] }}-{{ ansible_facts["distribution_release"] }}.yml'
        - '{{ ansible_facts["distribution"] }}.yml'
        - '{{ ansible_facts["os_family"] }}.yml'
      skip: true
      paths:
        - '{{ role_path }}/vars'

- name: Creating go path
  become: '{{ go_dev_escalate }}'
  become_user: root
  with_items:
    - '{{ go_dev_path }}'
    - '{{ go_dev_profile_dir }}'
  ansible.builtin.file:
    path: '{{ item }}'
    state: directory
    mode: '755'

- name: Install go pkgs
  become: '{{ go_dev_escalate }}'
  become_user: root
  with_items: '{{ go_dev_install_default | default([]) + go_dev_install | default([]) }}'
  ansible.builtin.command: '{{ go_dev_root }}/bin/go install {{ item.pkg }}'
  environment:
    GOROOT: '{{ go_dev_root }}'
    GOPATH: '{{ go_dev_path }}'
  args:
    creates: '{{ go_dev_path }}/bin/{{ item.target }}'

- name: Set go-dev environment variables in {{ go_dev_profile_dir }}
  become: '{{ go_dev_escalate }}'
  become_user: root
  with_items:
    - go-dev.sh
  ansible.builtin.template:
    src: '{{ item }}.j2'
    dest: '{{ go_dev_profile_dir }}/{{ item }}'
    mode: '644'
